body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    align-content: center;
}

* {
    background-color: white;
}

#Bayern {
    background-color: red;
    margin-top: 8%;
}

#Psg {
    background-color: blue;
    margin-top: 8%;
    margin-bottom: 8%;
}

#Real {
    background-color: gray;
    margin-top: 8%;
}

.Menu {
    margin-right: 5%;
}