@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=League+Gothic&family=Roboto+Condensed&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: aquamarine;
    text-align: center;
}

button {
    height: 40px;
    width: 300px;
    border-radius: 50px;
    background-color: gray;
    color: white;
    font-family: 'Josefin Sans';
}

button:hover {
    background-color: darkblue;
}

button:active {
    background-color: darkblue;
}