@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

body {
    text-align: center;
    background-color: darksalmon;
    font-family: 'Oleo Script Swash Caps', cursive;
}