.example-container .mat-form-field {
  margin-left: 8px;
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

app-main:host {
  display: block;
  margin: 100px;
}

.example-container {
  margin: 0;
  background-color: white;
}

.container {
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px black;
  background-color: white;
  border-radius: 2%;
}

.example-container .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-container button {
  display: flex;
  justify-content: center;
  width: 120px;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.button-center {
  width: 110px;
  margin-left: 50%;
  transform: translateX(-50%);
}
