.TodoSearch {
  background: #f9fbfc;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  border: 2px solid black;
  font-size: 24px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  color: #1e1e1f;
  box-shadow: 5px 5px 15px 1px #000000;
  border-radius: 8px;
}

.TodoSearch::placeholder {
  color: #a5a5a5;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61dafa;
}