@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

div {
  display: flex;
  flex-flow: row;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: #121212;
}

#player {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-content: center;
  width: 80vw;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 90px;
  border-radius: 8px;
  padding: 10px;

  audio {
    display: none;
  }

  .cover {
    flex: 1;

    .cover-img {
      width: 70px;
      height: 70px;
      border-radius: 5px;
      background-color: #ecf0f1;
      margin-right: 15px;
    }

    .metadata {
      .song-info {
        flex-flow: column;
        justify-content: center;
        margin-right: 15px;

        .title {
          font-size: 1.5em;
          color: #ecf0f1;
        }

        .artist {
          font-size: 1em;
          color: #bdc3c7;
        }
      }

      .check-icon {
        flex-flow: column;
        justify-content: center;

        .fa-solid {
          color: #1ed760;
          font-size: 18px;
        }
      }
    }
  }

  .controls {
    flex: 1;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    gap: 20px;

    .buttons {
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa-solid {
        color: #b3b3b3;
        cursor: pointer;
        font-size: 22px;
      }

      .fa-solid:hover {
        color: #fff;
      }
    }

    .player-buttons {
      gap: 8px;
    }

    .play {
      width: 42px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa-solid {
        color: #fff;
        cursor: pointer;
        font-size: 38px;
      }

      .fa-solid:active {
        transform: scale(0.9);
      }
    }
  }
}
